* {
    /* background-color: rgba(0, 100, 0, 0.1); */
}

body {
 margin: 0;
}

.mb-30 {
    margin-bottom: 30px;
}

/* .app {
    overflow: hidden;
} */

.header {
    height: 66px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-image: linear-gradient(to top right, rgb(255, 243, 243, .85), rgb(255, 255, 255, .85))
}

.header__content {
    display: flex;
    align-items: center;
    width: 1200px;
}

.header__logo-with-search {
    display: flex;
    width: 50%;
    align-items: center;
}

.header__logo-link {
    text-decoration: none;
    color: var(--black-color);
}

.header__logo {
    display: flex;
    font-size: 2.4rem;
}

.header__logo-text {
    display: flex;
    margin: 0;
    line-height: 50px;
    font-weight: 500;
}

.header__logo-dot {
    color: var(--primary-color);
}

.header__search {
    position: relative;
    width: 288px;
    margin-left: 22px;
    height: 50px;
}

.header__search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--primary-color);
}

.header__search-input {
    width: 100%;
    border-radius: 25px;
    border:1px solid #B8AEAE;
    height: 100%;
    outline: none;
    padding-left: 44px;
    font-size: 1.6rem;
}

.header__navbar {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    margin: 0;
}

.header__navbar-item {
    padding: 0 29px;
}

.header__navbar-item:first-child {
    padding-left: 0;
}

.header__navbar-item-link {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 50px;
    color: #696262;
    position: relative;
}

.header__navbar-item-link::after {
    content: "";
    display: none;
    position: absolute;
    height: 2px;
    width: 16px;
    background-color: var(--primary-color);
    top: 34px;
    left: 1x;
}

.header__navbar-item-link--active .header__navbar-item-link {
    color: var(--primary-color);
    font-weight: 500;
}

.header__navbar-item-link--active .header__navbar-item-link::after {
    display: block;
}

.header__navbar-item-link:hover {
    color: var(--primary-color);
}

.header__navbar-btn {
    width: 144px;
    border-radius: 24.5px;
    border: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
}

.header__navbar-btn:hover {
    opacity: 0.8;
}


.introduce {
    padding: 187px 0 120px 0;
    background-image: linear-gradient(to top right, #FFF3F3, #ffff)
}

.introduce__img {
    display: flex;
    height: 495px;
}

.introduce__img-wrap-1 {
    display: flex;
    flex-direction: column;
}


.introduce__img-wrap-2 {
    margin-left: 30px;
    display: flex;
    align-items: flex-end;
}

.introduce__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.introduce__description {
    width: 470px;
}

.introduce__heading {
    font-size: 6.4rem;
    line-height: 6.4rem;
    font-weight: 400;
    margin: 35px 0 18px 0;
}

.introduce__text {
    font-size: 1.8rem;
    line-height: 3rem;
    word-spacing: 6px;
    color: #696262;
    margin-bottom: 32px;
}

.introduce__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduce__button-story {
    display: flex;
    align-items: center;
}

.introduce__button-story-img {
}

.introduce__button-story-text {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 600;
    color: #130606;
}